.squareinp {
  width     : 15px;
  min-width : 30px;
  min-height: 30px;
  background: #ffff;
  text-align: center;
}

.square-sep {
  border-top: 4px solid black;
}

.square-septd {
  border-left: 4px solid black;
}

.bg-white {
  background-color: #ffffff;
}

.bg-aqua {
  background-color: aqua !important;
}

.bg-coral {
  background-color: coral !important;
}

.messageBoxBelow { 
  border: 2px solid #dedede;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px 0;
}